@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body {
  
 @apply bg-amber-50 text-black;
  font-family: "Cherry Cream Soda", sans-serif;
}
.navbarFont {
  font-family: "Cherry Cream Soda", sans-serif;
 background-color: #0D6EFD;
}

.footerFont {
  font-family: "Cherry Cream Soda", sans-serif;
 background-color: #0D6EFD;
}

.Orbitron {
  font-family: "Cherry Cream Soda", sans-serif;
}

a.active {
  
  background-color: #bf6eb8;
  border-radius: 5px;
  padding: 5px;
  box-shadow: #8eb9dc 0px 0px 30px;
  font-weight: bold;
  border-color: black;
  color: purple;
  transition: all 0.3s ease-in-out;
  
}

.CardStyle{
  box-shadow: #8eb9dc 0px 0px 18px;
}


.btn {
  @apply transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-lg hover:shadow-blue-500/50;
}

.input {
  background-color: black;
}



